<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Andrew Chung</title>
</head>
<body ng-app>
  <nav>
    <nav-tab class="tab" ng-click="$ctrl.changeView('Home')'">
      Home
    </nav-tab>
    <nav-tab class="tab" ng-click="$ctrl.changeView('Projects')">
      Projects
    </nav-tab>
    <nav-tab class="tab" ng-click="$ctrl.changeView('About me')">
      About me
    </nav-tab>
    <nav-tab class="tab" ng-click="$ctrl.changeView('Blog')">
      Blog
    </nav-tab>
    <nav-tab class="tab" ng-click="$ctrl.changeView('Snipptes')">
      Snippets
    </nav-tab>
  </nav>
</body>
</html>