@font-face {
    font-family: 'Roboto';
    src: url('/client/Roboto_Slab/RobotoSlab-Regular.ttf')
}
/*.project {
  font-family: 'MyriadPro-Regular';
}*/
ol {
  text-indent: 1vw;
  list-style-position:inside;
}
.project-name {
  display:inline-block;
}
.project-links {
  display:inline-block;
}
#project3 {
  height:90vh;
}


