@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('/client/fonts/Myriad Pro Regular.ttf')
}

/*.project {
  font-family: 'MyriadPro-Regular';
}*/
.project-name {
  display:inline-block;
}
.project-links {
  display:inline-block;
}
#project4 {
  height:90vh;
}
