<svg xmlns="http://www.w3.org/2000/svg" class="svg-frame" >
  <svg id="svg-inner-frame" ng-viewbox="0 0 {{frame.viewHeight}} {{frame.viewWidth}}" preserveAspectRatio="none">
    <defs id="defs">
      <style title="frame-stylesheet">
        .cls-1-frame {
          fill: rgba(75, 73, 73, 0.13);
        }

        .cls-2-frame {
          fill: rgba(172, 232, 254, 0.29);
          stroke-width:.02rem;
        }
        
        .cls-3-frame {
          font-size: 1em;
          fill: #37383d;
          color: black;
          font-family: 'Lato', sans-serif;
          overflow: scroll;
          height:100%;
          width:100%;
        }
        .parent-content {
          margin-left:2em;
          margin-top:3em;
          overflow-y:scroll;
        }
        .parent-content{
          padding:2%;
        }
        ::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 7px;
        }
        ::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: rgba(0,0,0,.5);
            -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
        }
              </style>
    </defs>
    <title>Asset 4</title>

    <g id="Layer_2" data-name="Layer 2">
      <g id="Layer_2-2" data-name="Layer 2">
        <g id="Layer_7" data-name="Layer 7">
          <polyline class="cls-1-frame" ng-points="{{frame.widthShadow}} {{frame.height}} {{frame.greyleftMargin}} {{frame.height}} {{frame.greyleftMargin}} {{frame.greyTop}} {{frame.widthShadow}} {{frame.greyTop}}" />
              
        </g>

          <polyline class="cls-2-frame" ng-points="{{frame.width}} {{frame.heightShadow}} {{frame.whiteLeft}} {{frame.heightShadow}} {{frame.whiteLeft}} {{frame.heightMargin}} {{frame.width}} {{frame.heightMargin}} {{frame.width}} {{frame.heightShadow}}" />
    
        <!--<g id="Layer_8" data-name="Layer 8">
          
        </g>-->
      </g>
    </g>

  </svg>
    <foreignObject preserveAspectRatio="none" externalResourcesRequired class="cls-3-frame" x="0" y="0"><div class="parent-content"><ng-transclude></ng-transclude></div></foreignObject>
</svg>
<!---->