div[ng-view] {
    float:right;
    width:100%;
    
}

/*content dimensions */
#group-body {
  display:flex;
  justify-content:space-around;
}
.svg-frame {
    height:100vh;
    width:80vw;
    margin-left:5%;
}
#modal {
  display:block;
  width:25vw;
  margin-top:4vw;
  height:20vw;
  background-color:rgba(75, 73, 73, 0.13);
}
/*#svg-inner-frame {

}*/
/*#img-defs {

    width:100%;
}*/

@media screen and (max-width:850px) {
    .svg-frame {
        height:100vh;
        width:95vw;
        margin-left:.6em;
        margin-right:1em;
    }

    .code-snippet {
        font-size:.6em;
    }
    /*#img-defs {
        position:absolute;
    }*/
}