/*div[ng-view] {
    width:75%;
}*/

.svg-frame {
    width:699.98px;
    height:1000px;
}
#svg-inner-frame {
    height: 1vh;
}
/*#img-defs {

    width:100%;
}*/

@media screen and (max-width:960px) {
    .svg-frame {
        width:100%;
        height:1000px;
    }
    /*#img-defs {
        position:absolute;
    }*/
}