<svg ng-click="tab.changeView(tab.path, tab.pageName)" xmlns="http://www.w3.org/2000/svg" class="svg-tab" ng-viewbox="0 0 {{tab.viewHeight}} {{tab.viewWidth}}">
  <defs>
    <style>
      .cls-1 {
        fill: white;
      }
      
      .cls-2 {
        fill: rgba(205, 205, 205, 0.24);
      }
      
      .cls-3 {
        font-size: 1.25rem;
        fill: white;
        font-family: MyriadPro-Regular, Myriad Pro;
      }
    </style>
  </defs>
  <title>Asset 4</title>
  <g id="Layer_2" data-name="Layer 2">
    <g id="Layer_2-2" data-name="Layer 2">
      <g id="Layer_7" data-name="Layer 7">
        <!--<polyline class="cls-1" ng-points="{{tab.widthShadow}} {{tab.heightShadow}} {{tab.greyLeft}} {{tab.heightShadow}} {{tab.greyLeft}} {{tab.greyTop}} {{tab.widthShadow}} {{tab.greyTop}}" />-->
      </g>
      <polyline class="cls-2" ng-points="{{tab.width}} {{tab.height}} {{tab.left}} {{tab.height}} {{tab.left}} {{tab.top}} {{tab.width}} {{tab.top}}" />
      <g id="Layer_8" data-name="Layer 8">
        <text class="cls-3" transform="translate({{tab.nameX}} {{tab.nameY}})">{{tab.pageName}}</text>
      </g>
    </g>
  </g>
</svg>