<svg ng-click="tab.changeView(tab.path)" xmlns="http://www.w3.org/2000/svg" class="svg-tab" ng-viewbox="0 0 {{tab.width}} {{tab.heightShadow}}">
  <defs>
    <style>
      .cls-1 {
        fill: #d6d6d6;
      }
      
      .cls-2 {
        fill: grey;
      }
      
      .cls-3 {
        font-size: 24px;
        fill: #666;
        font-family: MyriadPro-Regular, Myriad Pro;
      }
    </style>
  </defs>
  <title>Asset 4</title>
  <g id="Layer_2" data-name="Layer 2">
    <g id="Layer_2-2" data-name="Layer 2">
      <g id="Layer_7" data-name="Layer 7">
        <polyline class="cls-1" ng-points="{{tab.width}} {{tab.height}} 2.5 {{tab.height}} 2.5 0 {{tab.width}} 0" />
      </g>
      <polyline class="cls-2" ng-points="{{tab.widthShadow}} {{tab.heightShadow}} 0 {{tab.heightShadow}} 0 2.5 {{tab.widthShadow}} 2.5" />
      <g id="Layer_8" data-name="Layer 8">
        <text class="cls-3" transform="translate(80.5 42)">{{tab.pageName}}</text>
      </g>
    </g>
  </g>
</svg>