@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('/client/fonts/Myriad Pro Regular.ttf')
}
a {
    color:black;
}
* {
    margin:0px;
    padding:0px;
    margin-left:0px;
    padding-left:0px;
    padding-top:0px;
    left:0px;
}
#nav {
    margin-left:3.5%;
    display:flex;
    flex-direction:row;
    width:100vw;
    align-items: center;
    justify-content:flex-start;
   /* text-align:center;*/
}
.svg-tab {
}
.tabs {
    /*display:inline;*/
   width:10%;
   margin:15px;
}

@media screen and (max-width:850px) {
    #nav {
        width:100%;
        flex-direction:row;
    }
    .tabs {
        width:20%;
        float:right;
    }
}