@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('/client/fonts/Myriad Pro Regular.ttf')
}
a {
    color:black;
}
#nav {
    float:left;
    width:25%;
}

.tabs {
    margin-top:10px;
}

.svg-tab {
    width:100%;
}