@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('/client/fonts/Myriad Pro Regular.ttf')
}
a {
    color:black;
}
#nav {
    display:flex;
    flex-direction:column;
    width:232.5px;
}

.tabs {

}

@media screen and (max-width:960px) {
    #nav {
        width:100%;
        flex-direction:row;
    }
    .tabs {

        width:20%;
        float:right;
    }
}