img {
  width:100%;
  height:auto;
  clip-path: url(#clipping);
}
#center-group {
  display: flex;
  justify-content: center;
}

body {
  background-color: hsl(207, 84%, 45%);
}

@media screen and (max-width:960px) {
    #center-group {
      display:inline-block;
    }
  img {
    order:-1;
    width:20%;
    height:20%;
    clip-path: url(#clipping);
  }
  #img-defs {
    order:-1;
    width:20%;
  }
}